<div class="page-header">
<h1>Expenses</h1>
<ul class="nav nav-list">
  <li>  <%= link_to "Back to Dashboard", admin_root_path %> </li>
  <li><%= link_to "Add Expense", new_admin_expense_path %></li>
</ul>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th>Interval</th>
      <th>Start Date</th>
      <th>User ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |p| %>
      <tr>
        <td><%= p.amount %></td>
        <td><%= p.name %></td>
        <td><%= p.interval %></td>
        <td><%= p.start_date %></td>
        <td><%= p.user_id %></td>
        <td>
          <%= link_to "Edit", edit_admin_expense_path(p) %>
          |
          <%= link_to "Destroy", admin_expense_path(p), :method => :delete, :confirm => "sure man?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
