<div class="page-header">
<h1>View Expense</h1>
<ul class="nav nav-list">
  <li><%= link_to "Back to List of Expenses", admin_expenses_path %></li>
  <li><%= link_to "Add Expense", new_admin_expense_path %></li>
</ul>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th>Interval</th>
      <th>Start Date</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% expense = @expense %>
        <td><%= expense.amount %></td>
        <td><%= expense.name %></td>
        <td><%= expense.interval %></td>
        <td><%= expense.start_date %></td>
        <td><%= expense.user_id %></td>
      </tr>
  </tbody>
</table>
