<h1>Incomes</h1>
<%= link_to "Dashboard", admin_root_path %>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th>Interval</th>
      <th>Start Date</th>
      <th>User ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |p| %>
      <tr>
        <td><%= p.amount %></td>
        <td><%= p.name %></td>
        <td><%= p.interval %></td>
        <td><%= p.start_date %></td>
        <td><%= p.user_id %></td>
        <td>
          <%= link_to "Edit", edit_admin_income_path(p) %>
          |
          <%= link_to "Destroy", admin_income_path(p), :method => :delete, :confirm => "sure man?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Income", new_admin_income_path %>
